.logo {
    font-size: 34.375px;
    /* font-weight: 700; */
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
}

.comercial {
    color: #FFB9AF;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    position: absolute;
    width: 570px;
}

.itemMenu {
    font-family: Montserrat;
    font-size: 24.527px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

.redesSociais {
    align-items: center;
    display: flex;
    gap: 38px;
    position: absolute;
}

.contato{
    position: absolute;
    top: 63px;
    left: 1135px;
    right: 136px;
    bottom: 813.95px;
    width: 169px;
    height: 23.045px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 19.205px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.icon{
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    position: absolute;
    top: 66px;
    left: 1102px;
    right: 319px;
    bottom: 815px;
    margin: 0;
}